USE [master]
GO
/****** Object:  Database [LKMT]    Script Date: 12/1/2023 7:41:53 PM ******/
CREATE DATABASE [LKMT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LKMT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LKMT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LKMT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LKMT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LKMT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LKMT]
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDKH]    Script Date: 12/1/2023 7:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDKH]()
RETURNS VARCHAR(10)
AS
BEGIN
DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(id_khachhang) FROM khachhang) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(id_khachhang, 3)) FROM KHACHHANG
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'KH00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'KH0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  Table [dbo].[chitietphieunhap]    Script Date: 12/1/2023 7:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chitietphieunhap](
	[id_phieunhap] [int] NOT NULL,
	[id_sanpham] [varchar](14) NOT NULL,
	[soluongsp] [int] NOT NULL,
	[gianhap] [money] NOT NULL,
	[thanhtien] [money] NOT NULL,
 CONSTRAINT [PK_chitietphieunhap] PRIMARY KEY CLUSTERED 
(
	[id_phieunhap] ASC,
	[id_sanpham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chitietphieuxuat]    Script Date: 12/1/2023 7:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chitietphieuxuat](
	[id_phieuxuat] [int] NOT NULL,
	[id_sanpham] [varchar](14) NOT NULL,
	[soluongsp] [int] NOT NULL,
	[thanhtien] [money] NULL,
 CONSTRAINT [PK_chitietphieuxuat] PRIMARY KEY CLUSTERED 
(
	[id_phieuxuat] ASC,
	[id_sanpham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khachhang]    Script Date: 12/1/2023 7:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khachhang](
	[id_khachhang] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](40) NULL,
	[ten] [nvarchar](128) NOT NULL,
	[sodienthoai] [varchar](11) NULL,
	[diachi] [nvarchar](128) NULL,
	[ngaytao] [datetime] NOT NULL,
	[ngaycapnhat] [datetime] NOT NULL,
 CONSTRAINT [PK__khachhan__63966DBD8F581ACE] PRIMARY KEY CLUSTERED 
(
	[id_khachhang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loaisanpham]    Script Date: 12/1/2023 7:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loaisanpham](
	[id_loai] [varchar](5) NOT NULL,
	[id_nhom] [varchar](5) NOT NULL,
	[tenloai] [nvarchar](32) NOT NULL,
	[ngaytao] [datetime] NOT NULL,
	[ngaycapnhat] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_loai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhomsanpham]    Script Date: 12/1/2023 7:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhomsanpham](
	[id_nhom] [varchar](5) NOT NULL,
	[tennhom] [nvarchar](32) NOT NULL,
	[ngaytao] [datetime] NOT NULL,
	[ngaycapnhat] [datetime] NOT NULL,
 CONSTRAINT [PK__nhomsanp__284B2F9C085DF150] PRIMARY KEY CLUSTERED 
(
	[id_nhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieunhap]    Script Date: 12/1/2023 7:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieunhap](
	[id_phieunhap] [int] IDENTITY(1,1) NOT NULL,
	[tongtien] [money] NOT NULL,
	[ngaynhap] [datetime] NOT NULL,
 CONSTRAINT [PK__phieunha__19D0785E3DCFC890] PRIMARY KEY CLUSTERED 
(
	[id_phieunhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieuxuat]    Script Date: 12/1/2023 7:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieuxuat](
	[id_phieuxuat] [int] IDENTITY(1,1) NOT NULL,
	[id_khachhang] [int] NOT NULL,
	[ngaydathang] [datetime] NOT NULL,
	[id_thanhtoan] [int] NOT NULL,
	[tongtien] [money] NOT NULL,
	[ghichu] [nvarchar](158) NULL,
 CONSTRAINT [PK__phieuxua__5E30FDD46D5F7570] PRIMARY KEY CLUSTERED 
(
	[id_phieuxuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phuongthucthanhtoan]    Script Date: 12/1/2023 7:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phuongthucthanhtoan](
	[id_thanhtoan] [int] IDENTITY(1,1) NOT NULL,
	[tenthanhtoan] [nvarchar](48) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_thanhtoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sanpham]    Script Date: 12/1/2023 7:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sanpham](
	[id_sanpham] [varchar](14) NOT NULL,
	[id_thuonghieu] [int] NOT NULL,
	[tensanpham] [nvarchar](52) NOT NULL,
	[id_loai] [varchar](5) NOT NULL,
	[gia] [money] NOT NULL,
	[baohanh] [int] NOT NULL,
	[khuyenmai] [int] NOT NULL,
	[hinh] [varchar](128) NOT NULL,
	[mota] [nvarchar](50) NOT NULL,
	[ngaytao] [datetime] NOT NULL,
	[ngaycapnhat] [datetime] NOT NULL,
	[soluong] [int] NOT NULL,
 CONSTRAINT [PK__sanpham__5D76C1A23C7818FA] PRIMARY KEY CLUSTERED 
(
	[id_sanpham] ASC,
	[id_thuonghieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thuonghieu]    Script Date: 12/1/2023 7:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thuonghieu](
	[id_thuonghieu] [int] IDENTITY(1,1) NOT NULL,
	[id_nhom] [varchar](5) NULL,
	[tenthuonghieu] [nvarchar](40) NOT NULL,
	[ngaytao] [datetime] NOT NULL,
	[ngaycapnhat] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_thuonghieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[chitietphieunhap] ([id_phieunhap], [id_sanpham], [soluongsp], [gianhap], [thanhtien]) VALUES (4, N'SP18127313', 1, 480000.0000, 480000.0000)
INSERT [dbo].[chitietphieunhap] ([id_phieunhap], [id_sanpham], [soluongsp], [gianhap], [thanhtien]) VALUES (4, N'SP21120738', 1, 400000.0000, 400000.0000)
GO
INSERT [dbo].[chitietphieuxuat] ([id_phieuxuat], [id_sanpham], [soluongsp], [thanhtien]) VALUES (9, N'SP18127313', 2, 1000000.0000)
GO
SET IDENTITY_INSERT [dbo].[khachhang] ON 

INSERT [dbo].[khachhang] ([id_khachhang], [email], [ten], [sodienthoai], [diachi], [ngaytao], [ngaycapnhat]) VALUES (33, N'lientran123@gmail.com', N'Trần Thị Liên', N'1', N'Q6 TPHCM', CAST(N'2020-12-19T00:00:00.000' AS DateTime), CAST(N'2020-12-21T00:00:00.000' AS DateTime))
INSERT [dbo].[khachhang] ([id_khachhang], [email], [ten], [sodienthoai], [diachi], [ngaytao], [ngaycapnhat]) VALUES (36, N'trantruong452@gmail.com', N'Trần Vũ Trường', N'0965349315', N'Q8 TPHCM', CAST(N'2020-12-21T00:00:00.000' AS DateTime), CAST(N'2020-12-21T00:00:00.000' AS DateTime))
INSERT [dbo].[khachhang] ([id_khachhang], [email], [ten], [sodienthoai], [diachi], [ngaytao], [ngaycapnhat]) VALUES (39, N'viethung302@gmail.com', N'Trần Việt Hùng', N'0523659655', N'Q2 TPHCM', CAST(N'2020-12-21T00:00:00.000' AS DateTime), CAST(N'2020-12-21T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[khachhang] OFF
GO
INSERT [dbo].[loaisanpham] ([id_loai], [id_nhom], [tenloai], [ngaytao], [ngaycapnhat]) VALUES (N'HDD1', N'HDD', N'Ổ cứng dưới 500GB', CAST(N'2020-05-12T23:59:59.000' AS DateTime), CAST(N'2020-12-09T00:00:00.000' AS DateTime))
INSERT [dbo].[loaisanpham] ([id_loai], [id_nhom], [tenloai], [ngaytao], [ngaycapnhat]) VALUES (N'HDD2', N'HDD', N'HDD', CAST(N'2020-05-12T23:59:59.000' AS DateTime), CAST(N'2020-12-09T00:00:00.000' AS DateTime))
INSERT [dbo].[loaisanpham] ([id_loai], [id_nhom], [tenloai], [ngaytao], [ngaycapnhat]) VALUES (N'HDD3', N'HDD', N'Ổ cứng 2-6TB', CAST(N'2020-05-12T23:59:59.000' AS DateTime), CAST(N'2020-12-09T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[nhomsanpham] ([id_nhom], [tennhom], [ngaytao], [ngaycapnhat]) VALUES (N'CASE', N'Thùng máy', CAST(N'2020-12-21T00:00:00.000' AS DateTime), CAST(N'2020-12-21T00:00:00.000' AS DateTime))
INSERT [dbo].[nhomsanpham] ([id_nhom], [tennhom], [ngaytao], [ngaycapnhat]) VALUES (N'CPU', N'CPU - Bộ vi xử lí', CAST(N'2020-05-12T00:00:00.000' AS DateTime), CAST(N'2020-12-18T00:00:00.000' AS DateTime))
INSERT [dbo].[nhomsanpham] ([id_nhom], [tennhom], [ngaytao], [ngaycapnhat]) VALUES (N'HDD', N'HDD - Ổ cứng PC', CAST(N'2020-05-12T00:00:00.000' AS DateTime), CAST(N'2020-12-18T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[phieunhap] ON 

INSERT [dbo].[phieunhap] ([id_phieunhap], [tongtien], [ngaynhap]) VALUES (1, 50000.0000, CAST(N'2020-12-18T14:50:26.100' AS DateTime))
INSERT [dbo].[phieunhap] ([id_phieunhap], [tongtien], [ngaynhap]) VALUES (2, 15000.0000, CAST(N'2020-12-20T16:46:13.833' AS DateTime))
INSERT [dbo].[phieunhap] ([id_phieunhap], [tongtien], [ngaynhap]) VALUES (4, 880000.0000, CAST(N'2023-01-12T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[phieunhap] OFF
GO
SET IDENTITY_INSERT [dbo].[phieuxuat] ON 

INSERT [dbo].[phieuxuat] ([id_phieuxuat], [id_khachhang], [ngaydathang], [id_thanhtoan], [tongtien], [ghichu]) VALUES (9, 33, CAST(N'2023-01-12T00:00:00.000' AS DateTime), 2, 1000000.0000, NULL)
SET IDENTITY_INSERT [dbo].[phieuxuat] OFF
GO
SET IDENTITY_INSERT [dbo].[phuongthucthanhtoan] ON 

INSERT [dbo].[phuongthucthanhtoan] ([id_thanhtoan], [tenthanhtoan]) VALUES (2, N'Thanh toán bằng ví điện tử')
INSERT [dbo].[phuongthucthanhtoan] ([id_thanhtoan], [tenthanhtoan]) VALUES (3, N'Thanh toán khi nhận hàng')
INSERT [dbo].[phuongthucthanhtoan] ([id_thanhtoan], [tenthanhtoan]) VALUES (4, N'Chuyển khoản ngân hàng')
SET IDENTITY_INSERT [dbo].[phuongthucthanhtoan] OFF
GO
INSERT [dbo].[sanpham] ([id_sanpham], [id_thuonghieu], [tensanpham], [id_loai], [gia], [baohanh], [khuyenmai], [hinh], [mota], [ngaytao], [ngaycapnhat], [soluong]) VALUES (N'SP18127313', 1, N'RAM 4GB Kinston', N'RAM1', 500000.0000, 18, 0, N'item_XL_23017849_32350345.jpg', N'Còn mới', CAST(N'2020-12-18T00:00:00.000' AS DateTime), CAST(N'2020-12-21T12:12:41.733' AS DateTime), 100)
INSERT [dbo].[sanpham] ([id_sanpham], [id_thuonghieu], [tensanpham], [id_loai], [gia], [baohanh], [khuyenmai], [hinh], [mota], [ngaytao], [ngaycapnhat], [soluong]) VALUES (N'SP20127303', 1008, N'Cpu Intel Core i5', N'L2261', 4000000.0000, 24, 0, N'26877_34235_71i66qev_hl__sl1500_.jpg', N'Còn mới', CAST(N'2020-12-20T16:44:42.000' AS DateTime), CAST(N'2020-12-21T11:24:59.423' AS DateTime), 100)
INSERT [dbo].[sanpham] ([id_sanpham], [id_thuonghieu], [tensanpham], [id_loai], [gia], [baohanh], [khuyenmai], [hinh], [mota], [ngaytao], [ngaycapnhat], [soluong]) VALUES (N'SP21120154', 1025, N'VGA Nvidia GTX 1060', N'L4154', 5300000.0000, 24, 0, N'34870_products_id_437_1.png', N'Còn mới', CAST(N'2020-12-21T11:46:26.000' AS DateTime), CAST(N'2020-12-21T12:15:50.017' AS DateTime), 100)
GO
SET IDENTITY_INSERT [dbo].[thuonghieu] ON 

INSERT [dbo].[thuonghieu] ([id_thuonghieu], [id_nhom], [tenthuonghieu], [ngaytao], [ngaycapnhat]) VALUES (1, N'RAM', N'Kinston', CAST(N'2020-12-09T00:00:00.000' AS DateTime), CAST(N'2020-12-11T00:00:00.000' AS DateTime))
INSERT [dbo].[thuonghieu] ([id_thuonghieu], [id_nhom], [tenthuonghieu], [ngaytao], [ngaycapnhat]) VALUES (1006, N'USB', N'Transcend', CAST(N'2020-12-13T00:00:00.000' AS DateTime), CAST(N'2020-12-13T00:00:00.000' AS DateTime))
INSERT [dbo].[thuonghieu] ([id_thuonghieu], [id_nhom], [tenthuonghieu], [ngaytao], [ngaycapnhat]) VALUES (1008, N'CPU', N'Intel', CAST(N'2020-12-20T16:17:01.140' AS DateTime), CAST(N'2020-12-20T16:17:01.140' AS DateTime))
SET IDENTITY_INSERT [dbo].[thuonghieu] OFF
GO
/****** Object:  Index [UQ__chitietp__5E30FDD54C100DD7]    Script Date: 12/1/2023 7:41:53 PM ******/
ALTER TABLE [dbo].[chitietphieuxuat] ADD  CONSTRAINT [UQ__chitietp__5E30FDD54C100DD7] UNIQUE NONCLUSTERED 
(
	[id_phieuxuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_Sodienthoai]    Script Date: 12/1/2023 7:41:53 PM ******/
ALTER TABLE [dbo].[khachhang] ADD  CONSTRAINT [UC_Sodienthoai] UNIQUE NONCLUSTERED 
(
	[sodienthoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__khachhan__63966DBC4B7058A6]    Script Date: 12/1/2023 7:41:53 PM ******/
ALTER TABLE [dbo].[khachhang] ADD  CONSTRAINT [UQ__khachhan__63966DBC4B7058A6] UNIQUE NONCLUSTERED 
(
	[id_khachhang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__loaisanp__9A03AA7309B0CC60]    Script Date: 12/1/2023 7:41:53 PM ******/
ALTER TABLE [dbo].[loaisanpham] ADD UNIQUE NONCLUSTERED 
(
	[id_loai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__nhomsanp__284B2F9D1F070559]    Script Date: 12/1/2023 7:41:53 PM ******/
ALTER TABLE [dbo].[nhomsanpham] ADD  CONSTRAINT [UQ__nhomsanp__284B2F9D1F070559] UNIQUE NONCLUSTERED 
(
	[id_nhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__phieunha__19D0785F7E9532B3]    Script Date: 12/1/2023 7:41:53 PM ******/
ALTER TABLE [dbo].[phieunhap] ADD  CONSTRAINT [UQ__phieunha__19D0785F7E9532B3] UNIQUE NONCLUSTERED 
(
	[id_phieunhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__phieuxua__5E30FDD51E79CB11]    Script Date: 12/1/2023 7:41:53 PM ******/
ALTER TABLE [dbo].[phieuxuat] ADD  CONSTRAINT [UQ__phieuxua__5E30FDD51E79CB11] UNIQUE NONCLUSTERED 
(
	[id_phieuxuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__phuongth__257DA41B9978D845]    Script Date: 12/1/2023 7:41:53 PM ******/
ALTER TABLE [dbo].[phuongthucthanhtoan] ADD UNIQUE NONCLUSTERED 
(
	[id_thanhtoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__sanpham__5D76C1A3BD689E25]    Script Date: 12/1/2023 7:41:53 PM ******/
ALTER TABLE [dbo].[sanpham] ADD  CONSTRAINT [UQ__sanpham__5D76C1A3BD689E25] UNIQUE NONCLUSTERED 
(
	[id_sanpham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__thuonghi__8FCB194DE8A36F14]    Script Date: 12/1/2023 7:41:53 PM ******/
ALTER TABLE [dbo].[thuonghieu] ADD UNIQUE NONCLUSTERED 
(
	[id_thuonghieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[phieunhap] ADD  CONSTRAINT [DF_phieunhap_tongtien]  DEFAULT ((0)) FOR [tongtien]
GO
ALTER TABLE [dbo].[phieuxuat] ADD  CONSTRAINT [DF_phieuxuat_tongtien]  DEFAULT ((0)) FOR [tongtien]
GO
ALTER TABLE [dbo].[sanpham] ADD  CONSTRAINT [DF__sanpham__khuyenm__35BCFE0A]  DEFAULT ((0)) FOR [khuyenmai]
GO
ALTER TABLE [dbo].[chitietphieunhap]  WITH CHECK ADD  CONSTRAINT [FK_chitietphieunhap_phieunhap] FOREIGN KEY([id_phieunhap])
REFERENCES [dbo].[phieunhap] ([id_phieunhap])
GO
ALTER TABLE [dbo].[chitietphieunhap] CHECK CONSTRAINT [FK_chitietphieunhap_phieunhap]
GO
ALTER TABLE [dbo].[chitietphieunhap]  WITH CHECK ADD  CONSTRAINT [FK_chitietphieunhap_sanpham] FOREIGN KEY([id_sanpham])
REFERENCES [dbo].[sanpham] ([id_sanpham])
GO
ALTER TABLE [dbo].[chitietphieunhap] CHECK CONSTRAINT [FK_chitietphieunhap_sanpham]
GO
ALTER TABLE [dbo].[chitietphieuxuat]  WITH CHECK ADD  CONSTRAINT [FK_chitietphieuxuat_phieuxuat] FOREIGN KEY([id_phieuxuat])
REFERENCES [dbo].[phieuxuat] ([id_phieuxuat])
GO
ALTER TABLE [dbo].[chitietphieuxuat] CHECK CONSTRAINT [FK_chitietphieuxuat_phieuxuat]
GO
ALTER TABLE [dbo].[chitietphieuxuat]  WITH CHECK ADD  CONSTRAINT [FK_chitietphieuxuat_sanpham] FOREIGN KEY([id_sanpham])
REFERENCES [dbo].[sanpham] ([id_sanpham])
GO
ALTER TABLE [dbo].[chitietphieuxuat] CHECK CONSTRAINT [FK_chitietphieuxuat_sanpham]
GO
ALTER TABLE [dbo].[loaisanpham]  WITH CHECK ADD  CONSTRAINT [FK_loaisanpham_nhomsanpham] FOREIGN KEY([id_nhom])
REFERENCES [dbo].[nhomsanpham] ([id_nhom])
GO
ALTER TABLE [dbo].[loaisanpham] CHECK CONSTRAINT [FK_loaisanpham_nhomsanpham]
GO
ALTER TABLE [dbo].[phieuxuat]  WITH CHECK ADD  CONSTRAINT [FK_phieuxuat_khachhang] FOREIGN KEY([id_khachhang])
REFERENCES [dbo].[khachhang] ([id_khachhang])
GO
ALTER TABLE [dbo].[phieuxuat] CHECK CONSTRAINT [FK_phieuxuat_khachhang]
GO
ALTER TABLE [dbo].[phieuxuat]  WITH CHECK ADD  CONSTRAINT [FK_phieuxuat_phuongthucthanhtoan] FOREIGN KEY([id_thanhtoan])
REFERENCES [dbo].[phuongthucthanhtoan] ([id_thanhtoan])
GO
ALTER TABLE [dbo].[phieuxuat] CHECK CONSTRAINT [FK_phieuxuat_phuongthucthanhtoan]
GO
ALTER TABLE [dbo].[sanpham]  WITH CHECK ADD  CONSTRAINT [FK_sanpham_loaisanpham] FOREIGN KEY([id_loai])
REFERENCES [dbo].[loaisanpham] ([id_loai])
GO
ALTER TABLE [dbo].[sanpham] CHECK CONSTRAINT [FK_sanpham_loaisanpham]
GO
ALTER TABLE [dbo].[sanpham]  WITH CHECK ADD  CONSTRAINT [FK_sanpham_thuonghieu] FOREIGN KEY([id_thuonghieu])
REFERENCES [dbo].[thuonghieu] ([id_thuonghieu])
GO
ALTER TABLE [dbo].[sanpham] CHECK CONSTRAINT [FK_sanpham_thuonghieu]
GO
ALTER TABLE [dbo].[thuonghieu]  WITH CHECK ADD  CONSTRAINT [FK_thuonghieu_nhomsanpham] FOREIGN KEY([id_nhom])
REFERENCES [dbo].[nhomsanpham] ([id_nhom])
GO
ALTER TABLE [dbo].[thuonghieu] CHECK CONSTRAINT [FK_thuonghieu_nhomsanpham]
GO
/****** Object:  Trigger [dbo].[trg_UpdateTongTien]    Script Date: 12/1/2023 7:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_UpdateTongTien]
ON [dbo].[chitietphieunhap]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Cập nhật giá trị cột "thanhtien" trong bảng "chitietphieunhap"
    UPDATE c
    SET c.thanhtien = i.soluongsp * i.gianhap
    FROM chitietphieunhap c
    INNER JOIN inserted i ON c.id_phieunhap = i.id_phieunhap AND c.id_sanpham = i.id_sanpham;

    -- Cập nhật giá trị cột "tongtien" trong bảng "phieunhap"
    UPDATE p
    SET p.tongtien = (SELECT SUM(thanhtien) FROM chitietphieunhap WHERE id_phieunhap = p.id_phieunhap)
    FROM phieunhap p
    INNER JOIN inserted i ON p.id_phieunhap = i.id_phieunhap;
END;
GO
ALTER TABLE [dbo].[chitietphieunhap] ENABLE TRIGGER [trg_UpdateTongTien]
GO
/****** Object:  Trigger [dbo].[tr_ChangeTotalAmount]    Script Date: 12/1/2023 7:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_ChangeTotalAmount]
ON [dbo].[chitietphieuxuat]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Update total amount in phieuxuat for affected id_phieuxuat
    UPDATE phieuxuat
    SET tongtien = (
        SELECT SUM(ISNULL(thanhtien, 0))
        FROM chitietphieuxuat
        WHERE chitietphieuxuat.id_phieuxuat = phieuxuat.id_phieuxuat
    )
    FROM phieuxuat
    INNER JOIN INSERTED ON phieuxuat.id_phieuxuat = INSERTED.id_phieuxuat;

END;
GO
ALTER TABLE [dbo].[chitietphieuxuat] ENABLE TRIGGER [tr_ChangeTotalAmount]
GO
USE [master]
GO
